
body{
	background-color: #c7c7c7
}

p::first-letter{
	font-size: 40px;
	font-weight: bold;
}

p::first-line{
	background-color: #cf5c36;
}

*::selection{
	background-color: #f9a03f;
	color#fff;
}

.caja{
	background-color: #f9a03f;
	height: 150px;
	width: 150px;
}

.caja::before{
	content: "Hola Mundo desde la caja";
	display: block;
	background-color: #3a3a3a;
	color: #fff;
	position: relative;
}

.caja::after{
	content: "";
	display: block;
	background-color: #000;
	color: #fff;
	position: relative;
	height: 50px;
	width: 50px;
	left: 200px

}