.caja{
    background-color: #a9a2f9;
    width: 500px;
    height: 500px;
    /*transform: translate(200px, 50px);*/
    /*transform: scale(2,2);*/
    /*transform: rotate(20deg);*/
    /*transform: skew(25deg, 24deg);*/
    transform: translate(200px) scale(1.5,1.5) rotate(10deg);
}