$naranja: #f9a03f;

body {
  background-color: #1b3d82;
  font-family: arial;
}

.articulo {
  background-color: #e9f1f7;
  width: 500px;
  padding: 20px;

  .titulo {
    color: $naranja;
  }
  .auto {
    color: #4d5061;
  }
  p {
    a {
      color: $naranja;
    }
  }
  div {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 20px;
      color: $naranja;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
