<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Layout Basico</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="img">
                <img src="img/3.jpg" alt="">
            </div>

            <section>
                <article>
                    <h2>Titulo del articulo</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum fuga dicta voluptatum hic aut aspernatur magnam voluptates itaque atque quae laudantium, tempora at eligendi placeat provident aliquid vel deleniti magni.

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cum itaque cumque repellat aliquid nihil magnam, veniam fugiat nulla quos dolorum ut, earum perspiciatis ad odio expedita incidunt ratione quasi!
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum fuga dicta voluptatum hic aut aspernatur magnam voluptates itaque atque quae laudantium, tempora at eligendi placeat provident aliquid vel deleniti magni.

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nemo commodi reprehenderit facere cupiditate at sequi possimus nam consectetur omnis nisi aliquam asperiores, repellendus unde dolorum eveniet optio quos itaque.
                    </p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, molestiae.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, nostrum.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, suscipit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quasi.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, saepe!</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Information</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque laborum quisquam id expedita itaque suscipit sint, accusantium vero magni esse deserunt corrupti in obcaecati molestiae, quia aliquid, doloribus. Aliquid, reprehenderit.
                
                </p>
            </div>
        </aside>
        <footer>
            <p>Genaro Gonzalez. todos los derechos reservados 2019</p>
        </footer>
    </div>
</body>
</html>